.app {
  font-family: Roboto;
  height: 100vh;
}

.logo {
  margin: 0 auto;
  display: block;
  border: solid 1px #ccc;
  border-radius: 50%;
  padding: 5px;
  height: 100px;
  width: 100px;
  margin-top: 50px;
  transition: 2s ease-in-out;
}

.logo:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

.search {
  display: inline-block;
  margin: 0px auto;
  height: 40px;
  width: 100%;
  padding-left: 4px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.filter, .sort {
  display: inline-block;
  height: 40px;
  width: 100%;
  margin: 10px 0px;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.sort {
  margin-top: 0px;
}

.subtitle {
  font-size: 20px;
  text-align: left;
  padding: 20px 0px;
  font-weight: 600;
}

.subtitle::first-letter {
  text-transform: capitalize;
}

.container, .container-ascend {
  margin: 0% 35%;
}

.container-hide {
  display: none;
}

.container-ascend {
  padding-top: calc(50vh - 210px);
}

.result {
  padding: 25px;
  border: solid 1px #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fff;
}

.result-image {
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.result-album, .result-artist, .result-date {
  font-size: 16px;
  text-align: left;
  padding: 8px;
}

.result-album {
  font-weight: 600;
  text-decoration: underline;
}

.submit {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-align: center;
  background-color: #1BB954;
  color: #fff;
}

.submit:hover {
  background-color: #1ED760;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container, .container-ascend {
    margin: 0% 10% 10%;
  }
}